<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title|default:"ResortEase Dashboard" }}</title>
    {% load static %}
    <link href="{% static 'dist/output.css' %}" rel="stylesheet" type="text/css" />
    
</head>
<body>
    <header class='flex justify-between items-center p-4 fixed w-full bg-white'>
        <div class='flex items-center justify-center gap-2'>
            <button class="btn btn-ghost w-8 box-border p-1 md:hidden" id="open-aside">
                <img
                    class="w-full"
                    src="{% static 'icon/hamburger-md-svgrepo-com.svg' %}"
                />
            </button>
            <h1 class='text-xl font-bold'>
                <a href="/" class='text-blue-500 hover:text-blue-700'>
                    ResortEase
                </a>
            </h1>
            <div class="divider md:divider-horizontal"></div>

            <select class="select appearance-none select-sm bg-secondary text-white border-0 hidden md:block">
                <option disabled>Branch</option>
                <option selected>Antipolo Branch</option>
                <option>Cainta Branch</option>
            </select>
        </div>

        <div class='flex items-center justify-end gap-4 text-sm'>
            <button class="btn btn-primary btn-sm hidden md:block">
                Express Check-in
            </button>

            <div class="dropdown dropdown-end">
                <div class="avatar" role="button" tabindex="0">
                    <div class="ring-primary ring-offset-base-100 w-[30px] rounded-full ring-1 ring-offset-2">
                        <img alt="User" src="https://img.daisyui.com/images/profile/demo/spiderperson@192.webp" />
                    </div>
                </div>
                <ul tabindex="-1" class="rounded-md mt-2 dropdown-content menu bg-base-200 rounded-box z-1 w-52 shadow-sm">
                    {% if request.user.is_superuser %}
                        <li><a href="/admin">Admin</a></li>
                    {% endif %}
                    
                    {% if not request.user.is_normal_user %}
                        <li><a href="/dashboard">Dashboard</a></li>
                    {% endif %}

                    <li><a>Settings</a></li>
                    <form action="/account/logout/" method="post">
                        {% csrf_token %}
                        <li><button type="submit">Logout</button></li>
                    </form>
                </ul>
            </div>
        </div>
    </header>
    

    <div class="flex">
        <aside 
            class="duration-1000 bg-base-200 h-svh p-4 md:pt-22 md:max-w-60 md:w-full w-screen fixed md:static top-0 left-[-100vw]"
        >
            <div class="md:hidden mb-3 flex items-center">
                <button class="btn btn-ghost w-8 box-border p-0 mr-3 md:hidden" id="close-aside">
                    <img
                        class="w-full"
                        src="{% static 'icon/remove-circle-svgrepo-com.svg' %}"
                    />
                </button>

                <select class="select appearance-none select-sm w-full bg-secondary text-white border-0 md:hidden">
                    <option disabled>Branch</option>
                    <option selected>Antipolo Branch</option>
                    <option>Cainta Branch</option>
                </select>
            </div>

            <p class="label block text-[12px] mb-3">
                RESORT OPERATIONS
            </p>

            <div class="flex flex-col gap-2">
                <button class="btn w-full btn-active justify-start btn-primary">
                    Dashboard
                </button>
                
                <button class="btn w-full justify-start">
                    Reservations & Bookings
                </button>
                
                <button class="btn w-full justify-start">
                    Inventory
                </button>
                
                <button class="btn w-full justify-start">
                    Facilities
                </button>
            </div>
        </aside>

        {% block content %}
        Default content
        {% endblock %}
    </div>

    <script>
        const open_button = document.getElementById("open-aside")
        const close_button = document.getElementById("close-aside")
        const aside = document.querySelector('aside')

        open_button.onclick = () => {
            aside.style.left = '0vw'
        }

        close_button.onclick = () => {
            aside.style.left = '-100vw'
        }
    </script>
</body>
</html>